body{
font-family: 'Spartan', sans-serif;
}
ul{
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.intro{
font-size: 35px;
color: hsl(300, 43%, 22%);
font-weight: 700;
width: 35%;
letter-spacing: 0.03px;
margin: 120px auto auto 70px;

}
.first{
  font-size: 12px;
  font-weight: 400;
color: hsl(303, 10%, 53%);

}
.second{
position: absolute;
top: 135px;
right: 150px;
color: hsl(300, 43%, 22%);
font-size: 10px;
font-weight: 700;
}

#one{
  position: relative;
  right: 90px;
}
#two{
  position: relative;
  right: 55px;
  top: 30px;
}
#three{
  position: relative;
  right: 20px;
  top: 60px;
}
.rate{
  padding-left: 15px;
}
.colton{
  width: 26%;
  background-color: hsl(300, 43%, 22%);
  margin-left: 70px;
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  border-radius: 5px;
  line-height: 1.2rem;
  margin-top:40px;
  }
.text{
  padding:20px 30px 20px 30px;
}
.image{
  float:left;
  height: 40px;
  border-radius: 20px;
  margin: 20px 20px 15px 20px;
}
.third{
  clear: left;
  margin: auto 20px 5px ;
  padding-bottom: 20px;
}
.irene{
  width: 26%;
  background-color: hsl(300, 43%, 22%);

  color: hsl(0, 0%, 100%);
  font-size: 10px;
  border-radius: 5px;
  line-height: 1.2rem;
position: absolute;
  top: 350px;
  left: 360px;
  }
.image1{
  float:left;
  height: 40px;
  border-radius: 20px;
  margin: 28px 20px 15px 20px;
}
.fourth{
  clear: left;
  margin: auto 15px 5px ;
  padding-bottom: 10px;
}
.anne{
  width: 26%;
  background-color: hsl(300, 43%, 22%);

  color: hsl(0, 0%, 100%);
  font-size: 10px;
  border-radius: 5px;
  line-height: 1.2rem;
position: absolute;
  top: 370px;
  left: 650px;
  }
.image2{
  float:left;
  height: 40px;
  border-radius: 20px;
  margin: 28px 20px 15px 20px;
}
.fifth{
  clear: left;
  margin: auto 20px 5px ;
  padding-bottom: 10px;
}
